html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

img {
     max-width: 200px;
}
p {
    margin-bottom: 100px;
    color: #494e50;
    font-size: 1.125em;
}
.contact a {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #00cccc;
    color: #202528;
    font-size: 1.150em;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition-duration: 400s; /* Safari */
    transition-duration: 400ms;
}

.contact a:hover {
    padding: 10px 15px;
    border: 1px solid #494e50;
    background-color: #494e50;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition-duration: 400s; /* Safari */
    transition-duration: 400ms;
}
